Repository codipodi/hyper-breeze-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,md,yml,yaml}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix"
}

feat: define colors
  src/declaration.d.ts
  src/index.ts
  webpack.config.ts
Due: eslint --fix

ci: build
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  247b4c08fc814de77d474fcc8d52e3166ec14d66
Due: none

fix: install husky on prepare script instead
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0611b175720baf8fda8801b3e596ad3d30aabaf2
Due: none

fix: wrong colors
  src/index.ts
Due: eslint --fix

fix: use faint color for background & foreground
  package.json
  src/index.ts
Due: prettier --write, eslint --fix

feat: add hover fade animation on tabs
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/declaration.d.ts
  src/index.ts
  src/styles.scss
  webpack.config.ts
Due: prettier --write, eslint --fix

fix: missing import
  src/index.ts
Due: eslint --fix

docs: fix description
  README.md
Due: prettier --write

Notes added by 'git notes add'
  fd6cc84983ac49a4391779c489bba95adbeea007
Due: none

fix: use tab inactive background color for header
  src/styles.scss
Due: none

fix: remove bottom border on header
  src/styles.scss
Due: none

Notes added by 'git notes add'
  5a14cebf4cf094f43690f87573583a7266b6f111
Due: none

fix: use active tab color for header if in closed-tabs mode
  src/styles.scss
Due: none

Notes added by 'git notes add'
  22c82a895d19d02c916dc34a94de8cde4e31e685
Due: none

fix: infer closed-tabs mode from tabs props
  package.json
  pnpm-lock.yaml
  src/declaration.d.ts
  src/index.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8611e4b0d4b50122cd6cb1cb4a97f88921bc4ac4
Due: none

fix: adjust tabs border
  src/styles.scss
Due: none

Notes added by 'git notes add'
  3cdb6bacf671edaa72fd55bdd5410291b5a6a98c
Due: none

fix: tab top border should appear with window header
  src/styles.scss
Due: none

Notes added by 'git notes add'
  da809efd03979eadc98807e67b8df74abd15cfdf
Due: none

fix: define border color
  src/index.ts
Due: eslint --fix

Notes added by 'git notes add'
  9628e3046b435079bf82beba603a960db45b3f4a
Due: none

fix: use foreground color for cursor
  src/index.ts
Due: eslint --fix

Notes added by 'git notes add'
  aabbd312e1fd2ec0f6ac424dd339d90179f4db2e
Due: none

docs: add explanations, badges, images
  .github/screenshot-bg.png
  .github/screenshot.png
  README.md
Due: prettier --write
